<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCo0dGdKbTMfuWXbiw2uQ_THVuEgZQ4iC0</string>
	<key>GCM_SENDER_ID</key>
	<string>1051295033097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.closetCompanionClean</string>
	<key>PROJECT_ID</key>
	<string>closet-companion-clean</string>
	<key>STORAGE_BUCKET</key>
	<string>closet-companion-clean.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051295033097:ios:a1d3dace6641169c2555d8</string>
</dict>
</plist>